@import "../../../scss/_variables.scss";


.console {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex: 1 1 auto;
  padding: 5px 5px 5px 0; // the left is taken care of by the resizer
  background: white;
  font-family: $monospace;
  font-size: 16px;
  color: #666;
  overflow: auto;
  // border-left: 1px solid $grey-ddd;
}

$text-padding: 8px;

.console__message {
  display: flex;
  white-space: pre-wrap;
  word-break: break-all;
  padding: 0 8px;

  .console__text {
    flex: auto;
    border-bottom: 1px solid #eee;
    padding: $text-padding 0; // padding here so the line can be below
    max-width: 100%; // make sure the code editor isn't too wide
  }


  .console__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    width: 24px;
    height: 24px;
    margin: $text-padding 4px $text-padding 0;
    border-radius: 50%;
  }

  // make border full width for these types
  &.is-error,
  &.is-warn,
  &.is-pass,
  &.is-fail {
    border-bottom: 1px solid #eee;

    .console__text {
      border: 0;
    }
  }

  &.is-log {
    padding: 0;
  }

  &.is-error {
    color: $red-fail;
    background-color: #fff0f0;
  }

  &.is-warn {
    background-color: #fffbe7;
  }

  &.is-fail {
    color: #333;
    background-color: rgba($red-fail, 0.05);

    .console__icon {
      background-color: $red-fail;
      fill: white;
    }
  }

  &.is-pass {
    background-color: rgba($green-success, 0.1);

    .console__icon {
      background-color: $green-success;
      fill: white;
    }
  }


}
