@import "../../../scss/_z-index.scss";
@import "../../../scss/_colors.scss";

$edge-spacing: 36px;


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-modal;

  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
  padding: $edge-spacing $edge-spacing 10%; // push it up a little

  background-color: rgba(black, 0.7);
  transition: all 500ms;

  // when it's hidden
  &:not(.is-open) {
    visibility: hidden;
    background-color: rgba(black, 0);

    .modal__box {
      transform: translateY(18px);
      opacity: 0;
    }
  }

}

.modal__box {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: calc(100% - #{$edge-spacing*2});
  max-width: 1200px;

  color: #333;

  background-color: white;
  border: 1px solid $grey-ddd;
  border-radius: 6px;

  opacity: 1;
  transition: all 250ms;
  transform: translateY(0);

}

.modal__title {
  position: relative;
  flex: none;
  height: 40px;

  font-size: 18px;
  line-height: 40px;
  text-align: center;
}

.modal__content {
  flex: auto;
  overflow: auto;
  padding: 0 20px 20px;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  line-height: 0;
  cursor: pointer;

  svg {
    fill: #333;
  }

  &:hover svg {
    fill: #900;
  }
}
