@import "../../../scss/_variables.scss";


.dropdown {
  position: relative;
}

.dropdown__label {
  display: inline-block;
  padding: 4px 8px; // larger hit area

  color: #ddd;
  line-height: 21px;

  cursor: pointer;
  transition: all 250ms;

  &:hover {
    color: #333;
  }

  .is-open & {
    display: none;
  }

}

.dropdown__items {
  position: absolute;
  top: calc(100% + 8px);
  min-width: 100%;

  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #fff;
  // border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 15px #ddd;

  transition: all 400ms;
  opacity: 0;
  visibility: hidden;
  z-index: $z-dropdown;



  .dropdown.is-open & {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown__item {
  padding: 6px 24px 6px 12px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $yellow-highlight;

    .dropdown__link {
      text-decoration: underline;
    }
  }
}

.dropdown__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.dropdown__link-icon {
  padding-left: 8px;
}

.dropdown__button {
  margin-left: 3px;
  margin-right: 3px;
  padding: 4px 6px; // 4px matches .dropdown__label

  line-height: 19px;
  border: 0;
  text-decoration: underline;

  display: none;

  .is-open & {
    display: inline-block;
  }
}
