@import "../../../scss/_variables.scss";

$width: 200px;
$padding: 8px;

.examples {
  padding-bottom: 48px;
}

.examples__section + .examples__section {
  margin-top: 40px;
}

.examples__section-title {
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.examples__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}

// make the modal 4 wide
.modal--examples .modal__content {
  max-width: ($width + ($padding*2)) * 4;
}

.example__holder {
  width: $width;
  max-width: 100%;
  padding: $padding;

  @media (max-width: $bp-vertical) {
    width: $width*3/4;
  }
}

a.example {
  display: block;
  height: 150px;
  padding-bottom: 24px;
  overflow: hidden;

  border: 1px solid $grey-ddd;
  border-radius: 4px;
  cursor: pointer;

  color: inherit;
  text-decoration: inherit;


  &:hover {

    .example__name {
      background-color: $yellow-highlight;
    }

    .CodeMirror {
      opacity: 1;
    }
  }

  @media (max-width: $bp-vertical) {
    height: auto;
    padding-bottom: 0;
  }
}

.example__name {
  padding: 8px 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}

.example__preview {
  position: relative;
  padding: 2px;

  overflow: hidden;
  user-select: none;
  z-index: 1;

  .CodeMirror {
    font-size: 7px;
    opacity: 0.5;
    transition: all 250ms;
  }

  // overlay so the user can't touch the editor
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    cursor: pointer;
    z-index: 2;
  }

  @media (max-width: $bp-vertical) {
    display: none;
  }
}
