.panel {
  display: flex;
}

.panel__left {
  flex: none;
  width: 70%;
}

.panel__right {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  flex: none;
  width: 30%;

  > * {
    flex: auto;
  }
}
