@import "../../../scss/_variables.scss";

.panel {
  display: flex;
}

// make this panel no bigger than 100% and do the overflow here,
// so the imports doesn't get hidden (like if we applied overflow to the parent)
.panel__code-and-import {
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
  cursor: text;
}

.panel__resizer {
  position: relative;
  flex: none;
  width: 11px;
  cursor: ew-resize;
  content: "";

  &:hover {
    background-color: $yellow-highlight;
  }
}

.panel__resizer-inner {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: $grey-ddd;
}
