@import "../scss/_fonts.scss";

body {
  max-width: 800px;
  margin: auto;
  padding: 12px 12px 84px;

  font-family: $monospace;
}

h2 {
  margin: 14px 0;
}

p {
  line-height: 1.5;
}

pre,
code {
  font-family: inherit;
}

code {
  display: block;
  padding: 16px;

  white-space: pre-wrap;
  background-color: #fdf6e4;
  border: 0;
  border-radius: 6px;

  span {
    display: inline-block; // so they wrap as a whole
  }
}

.functions {
  margin: 48px 0 0;
  padding: 32px 0 0;

  border-top: 1px dotted #ddd;

  .function + .function {
    margin-top: 48px;
  }
}

.files-list {
  padding-left: 24px;

  li {
    font-style: italic;
    list-style: circle;
  }

  li + li {
    margin-top: 6px;
  }
}
