
/* Colors */
$grey-ddd: #dddddd;
$yellow-highlight: #ffe;

$green-success: #75c301;
$red-fail: #cb2431;



/* Fonts */

$monospace: "Source Code Pro", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;



/* Z-index */

$z-modal: 10;
