
/* Colors */
$grey-ddd: #dddddd;
$yellow-highlight: #ffe;

$green-success: #75c301;
$red-fail: #cb2431;

// $green-success-github: #36BC53;
// $red-fail-github: #C92736;



/* Fonts */

$monospace: "Source Code Pro", Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;



/* Z-index */

// NOTE codemirror has some z-index's up to 10.

$z-dropdown: 15;
$z-modal: 20;


/* Breakpoints */

$bp-vertical: 700px;
