@import "./_variables.scss";

button {
  padding: 6px 12px;

  font-size: 16px;

  background-color: white;
  border: 1px solid $grey-ddd;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $yellow-highlight;
  }
}
