/* this is loosely based on the sytax highlighting on github */

$dark: #24292e;
$grey: #6a737d;
$blue-b2d7fe: #b2d7fe;
$blue-005cc5: #005cc5;
$blue-032f62: #032f62;
$red-d73a49: #d73a49;
$orange-e36209: #e36209;
$purple-6f42c1: #6f42c1;

.cm-s-github {
  .CodeMirror {
    color: $dark;
  }

  .CodeMirror-gutters {
    background-color: inherit;
    border-right-width: 0;
  }

  .CodeMirror-guttermarker {
    color: white;
  }

  .CodeMirror-guttermarker-subtle {
    color: #d0d0d0;
  }

  .CodeMirror-linenumber {
    padding: 0 16px;

    color: #959da5;
  }

  .CodeMirror-cursor {
    border-left: 1px solid $dark;
  }

  div.CodeMirror-selected,
  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background-color: rgba($blue-b2d7fe, 0.5);
  }

  .CodeMirror-activeline-background {
    background: #fafbfc;
  }

  .CodeMirror-matchingbracket {
    // text-decoration: underline;
    color: $dark !important;
    background-color: rgba($blue-b2d7fe, 0.5);
    border-radius: 3px;
  }

  .CodeMirror-lines {
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    background-color: inherit;
  }

  .cm-comment {
    color: $grey;
  }

  .cm-constant {
    color: $blue-005cc5;
  }

  .cm-atom {
    color: $blue-005cc5;
  }

  .cm-number {
    color: $blue-005cc5;
  }

  .cm-def,
  .cm-entity {
    color: $purple-6f42c1;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }

  .cm-keyword {
    color: $red-d73a49;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }

  .cm-storage {
    color: $red-d73a49;
  }

  .cm-operator {
    color: $red-d73a49;
  }

  .cm-string {
    color: $blue-032f62;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }

  .cm-support {
    color: $blue-005cc5;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }

  .cm-property {
    color: $blue-005cc5;
  }

  .cm-variable {
    color: $dark;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
  }

  .CodeMirror-foldmarker {
    margin: 0 4px;
    padding: 0px 6px 1px;

    color: black;

    background-color: $blue-b2d7fe;
    border-radius: 4px;
    text-shadow: none;
  }

  .CodeMirror-foldgutter-open::after,
  .CodeMirror-foldgutter-folded::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80%;
    content: "";
  }

  @mixin chevron-down($color) {
    background-image: url("data:image/svg+xml;utf8,<svg class='octicon octicon-chevron-down' viewBox='0 0 10 16' version='1.1' width='10' height='16' aria-hidden='true' xmlns='http://www.w3.org/2000/svg'><path fill='#{$color}' d='M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z'></path></svg>");
  }

  @mixin chevron-right($color) {
    background-image: url("data:image/svg+xml;utf8,<svg class='octicon octicon-chevron-right' viewBox='0 0 8 16' version='1.1' width='10' height='16' aria-hidden='true' xmlns='http://www.w3.org/2000/svg'><path fill='#{$color}' d='M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3z'></path></svg>");
  }

  .CodeMirror-foldgutter-open {
    &::after {
      @include chevron-down(#ddd);
    }

    &:hover::after {
      @include chevron-down($blue-032f62);
    }
  }

  .CodeMirror-foldgutter-folded {
    &::after {
      @include chevron-right(#ddd);
    }

    &:hover::after {
      @include chevron-right($blue-032f62);
    }
  }
}
