@import "./_variables.scss";

.container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @media(max-width: $bp-vertical) {
    position: relative;
  }

}

.container__top {
  flex: none;

  box-sizing: border-box;

  border-bottom: 1px solid $grey-ddd;

}

.container__bottom {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // https://stackoverflow.com/questions/33790219/firefox-not-respecting-flex-shrink
  min-height: 0; // needed for firefox to shrink properly

  flex: auto;

  > * {
    flex: auto;
  }
}
